<div class="card shadow">
    <div class="card-content">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">
                My Cart
            </h5>
            <button (click)="remove()" class="btn btn-danger btn-sm">Clear Cart</button>
        </div>
        <div class="card-body">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Total</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="cartItems.length!=0">
                    <tr *ngFor="let cartItem of cartItems">
                        <td><img (click)="show(cartItem.product_id)" [src]="cartItem.image"
                                class="img-fluid img-thumbnail" alt="Sheep"></td>
                        <td>
                            <p [innerHtml]="cartItem.title"></p>
                        </td>
                        <td>
                            <p [innerHtml]="cartItem.price"></p>
                        </td>
                        <td class="d-flex">
                            <button class="btn btn-dark btn-sm" [disabled]="cartItem.quantity==1" 
                            (click)="updateQty(cartItem.id,-1)">-</button>
                            <span class="p-3 m-1 border-darken-1 border" [innerHtml]="cartItem.quantity"></span>
                            <button class="btn btn-sm btn-dark" [disabled]="cartItem.quantity==10" 
                             (click)="updateQty(cartItem.id,+1)">+</button>
                        </td>
                        <td [innerHtml]="cartItem.quantity*cartItem.price|number"></td>
                        <td>
                            <a (click)="remove(cartItem.id)" class="btn btn-danger btn-sm">
                                &times;
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <h5>Total: <span class="price text-success" [innerHtml]="totalCount.total|currency"></span></h5>
            </div>
        </div>
        <div class="card-footer border-top-0 d-flex justify-content-between">
            <button type="button" (click)="home()" mat-raised-button color="accent" data-dismiss="card">
                <mat-icon>arrow_back</mat-icon>  Continue Shopping</button>
            <button type="button" (click)="order()" class="btn btn-sm btn-success">Checkout</button>
        </div>
    </div>
</div>