<div class="card shadow">
    <div class="card-header d-flex justify-content-between">
        <h3 class="card-title">
            My Orders
        </h3>
    </div>
    <div class="card-body">

        <div *ngIf="orderStatus" class="table-responsive">

            <table *ngFor="let Item of ordersItems;" class="table table-borderless">
                <thead>
                    <tr>
                        <td class="p-2 m-2">
                            <p>Address : {{ Item.address | titlecase }}, {{ Item.city | titlecase }},
                                {{ Item.state | titlecase }}, {{ Item.zip }}. </p>
                        </td>
                        <td>
                            <p>Date : {{ Item.created_at|date}}</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let It of Item.order_detail;">
                        <td>{{ It.id }}</td>
                        <td><img [src]="It.image" class=" img-thumbnail" style="width: 100px;height: 100px;"></td>
                        <td>{{ It.title }}</td>
                        <td>{{ It.quantity }}</td>
                        <td>{{ It.price|currency}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div *ngIf="!orderStatus">
            You Have Not Order Any Product Yet!
        </div>
    </div>
</div>