<div class="card shadow">
    <div class="card-header d-flex justify-content-between">
        <h3 class="card-title">
            My Orders
        </h3>
    </div>
    <div class="card-body">

        <div *ngIf="orderStatus" class="table-responsive">
            <div class="p-2 m-2">
                <p>Address</p>
                <p> {{ usersOrder.address | titlecase }}, {{ usersOrder.city | titlecase }},
                    {{ usersOrder.state | titlecase }}, {{ usersOrder.zip }}. </p>
            </div>
            <table class="table table-striped table-borderless table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Name</th>
                        <th>quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Item of ordersItem">
                        <td>{{ Item.id }}</td>
                        <td><img [src]="Item.image" class=" img-thumbnail" style="width: 100px;height: 100px;"></td>
                        <td>{{ Item.title }}</td>
                        <td>{{ Item.quantity }}</td>
                        <td>{{ Item.price }}</td>
                    </tr>  
                </tbody>
            </table>
        </div>
        <div *ngIf="!orderStatus">
            You Have Not Order Any Product Yet!
        </div>
    </div>
</div>