<div class="col-12 col-sm-6 shadow p-5 m-auto">
    <p>Register</p>
    <form [formGroup]="registerForms" (ngSubmit)="save();">
        <mat-form-field class="form-group w-100">
            <mat-label>First Name</mat-label>
            <input matInput type="text" required formControlName="first_name" class="w-100">
            <mat-error *ngIf="registerForms.controls.first_name.hasError('required')">
                First name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group w-100">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" required formControlName="last_name" class="w-100">
            <mat-error *ngIf="registerForms.controls.last_name.hasError('required')">
                Last Name is required
            </mat-error>
        </mat-form-field>
        <div class="form-group w-100">
            <mat-label>Image</mat-label>
            <input type="file" (change)="onFileChange($event)" formControlName="image" class="w-100">
            <img [src]="imageSrc" *ngIf="imageSrc" class="img-thumbnail" style="height: 300px; width:300px">
        </div>
        <mat-form-field class="form-group w-100">
            <mat-label>email</mat-label>
            <input matInput type="email" required formControlName="email" class="w-100">
            <mat-error *ngIf="registerForms.controls.email.hasError('email') && !registerForms.controls.email.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="registerForms.controls.email.hasError('required')">
                Email is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group w-100">
            <mat-label>Password</mat-label>
            <input matInput type="password" required formControlName="password" class="w-100">
            <mat-error *ngIf="registerForms.controls.password.hasError('required')">
                password is required
            </mat-error>
        </mat-form-field>
        <div class="form-group d-flex justify-content-between w-100">
            <mat-checkbox>check me</mat-checkbox>
            <button type="submit" mat-raised-button color="accent">Register</button>
        </div>
    </form>
</div>