<div class="card shadow">
    <div class="card-header d-flex justify-content-between">
        <h2 class="card-title">
            Place Order
        </h2>
    </div>
    <div class="card-body row">
        <div class="col-6">
            <form [formGroup]="orderForms" (ngSubmit)="saveOrder(orderForms.value)">
                <div class="form-group col">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" formControlName="name" id="name">
                </div>
                <div class="form-group col">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" formControlName="address" id="inputAddress">
                </div>
                <div class="form-group col">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" formControlName="city" id="inputCity">
                </div>
                <div class="form-group col">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" formControlName="state" id="inputState">
                </div>
                <div class="form-group col">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" formControlName="zip" id="inputZip">
                </div>
                <div class="form-group col">
                    <button mat-raised-button color="primary" type="submit">Place Order</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-primary badge-pill">{{ count }}</span>
            </h4>
            <ul class="list-group">
                <li *ngFor="let cartItem of cartItems"
                    class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <p class="my-0">{{ cartItem.title }}</p>
                        <small class="text-muted">{{ cartItem.quantity }} X {{ cartItem.price|currency}}</small>
                    </div>
                    <span class="text-muted">{{ cartItem.quantity * cartItem.price |currency}}</span>
                </li>
            </ul>
            <ul class="mt-1 list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>{{ totalCount.total|currency}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>